@media screen and (min-width: 0) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Caveat", cursive;
    font-size: 22px;
  }

  body {
    background-image: url(https://wallpapers.com/images/hd/artwork-of-hogwarts-castle-yoq14p2eqajyfkpj.webp);
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
  }

  hr {
    margin: 16px  0 !important;
  }  

  .header {
    display: flex;
    background-color: rgb(50, 167, 145);
    flex-direction: column;
    padding: 1rem 25px;
    color: white;
  }

  #trybewarts-objects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .trybewarts-header-logo {
    width: 70px;
    margin-left: 8px;
  }

  .trybewarts-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    color: black;
  }

  .trybewarts-login .form-floating{
    width: 100%;
  }

  #senha,
  #email {
    border: none;
  }

  #login-button {
    padding: 10px 30px;
    border: none;
  }

  main {
    display: flex;
    margin: 40px 5%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10%;
  }

  #evaluation-form {
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #evaluation-form h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  #name-section {
    display: flex;
    flex-direction: column;
  }

  #name-section div {
    flex: 1 1 50px;
  }
  
  #name-section div input {
    border: none;
  }

  .mid-container {
    display: flex;
    gap: 10px;
  }

  #info-house {
    display: flex;
    flex-direction: column;
  }

  #info-house div {
    width: 100%;
  }
  
  #info-house div input {
    border: none;
  }
  
  #info-house select {
    border: none;
  }

  #family-section {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
  }

  #tech-section {
    width: 50%;
  }

  #techs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .form-check {
    display: flex !important;
    align-items: center !important;
    padding: 8px !important;
    gap: 10px;
    min-width: 130px;
  }
  
  .form-check input {
    margin: 0 !important;
  }

  #section-rate {
    display: flex;
    justify-content: space-between;
  }
  
  #section-rate input {
    margin-left: 0.6rem;
  }

  #label-rate {
    width: 40%;
  }

  #rates {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    height: 175px;
  }

  #form-data p {
    padding: 10px 0;
  }

  #rates div {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
  }

  #section-comments {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
  }

  #textarea {
    height: calc(10rem + 2px) !important;
    border: none;
  }

  #confirm-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
  }

  #label-infos {
    width: 200px;
  }

  #submit-btn {
    width: 100%;
    border-radius: 4px;
    border: 0;
    padding: 0.4rem;
  }
  
  #form-data {
    order: -1;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
  }

  #form-data p {
    padding: 10px 0;
  }  

  #section-logo {
    display: flex;
    justify-content: center;
    flex-shrink: 10;
    max-width: 700px;
  }
  
  #trybewarts-forms-logo {
    width: 80%;
  }
  
  footer {
    text-align: center;
    background-color: rgb(8, 9, 9);
    padding: 5px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  #counter {
    text-align: end;
    position: relative;
    top: -25px;
    right: 8px;
    color: rgb(153, 151, 151);
  }
  
  .error-container {
    display: none;
    border: 1.5px solid red;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1rem;
  }
  
  .hidden-error {
    display: none;
  }
  
  .visible {
    display: block;
    color: rgb(143, 71, 71);
  }
}

@media screen and (min-width: 490px) {
  * {
    font-size: large;
  }

  hr {
    margin-top: 0 !important;
  }

  .trybewarts-login {
    flex-flow: row wrap;
    justify-content: center;
  }

  .trybewarts-login .form-floating{
    width: 48%;
  }

  #name-section {
    flex-direction: row;
    gap: 10px;
  }

  #info-house {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  #family-section {
    width: 40%;
  }

  #tech-section {
    width: 60%;
  }

  #rates {
    flex-direction: row;
    width: 285px;
    height: auto;
  }

  #rates div {
    width: 50px;
  }

  #label-infos {
    width: auto;
  }
}

@media screen and (min-width: 576px) {
  #rates {
    height: auto;
  }

  #rates div {
    width: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  #trybewarts-objects {
    justify-content: space-between;
    margin: 0;
    flex: 1 1;
    max-width: 54%;
  }

  .trybewarts-login {
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    flex: 2 2;
    max-width: 750px;
  }

  .trybewarts-login .form-floating{
    max-width: 300px;
    width: 35%;
    flex: 1 1;
  }

  #evaluation-form {
    width: 675px;
  }

  #label-rate {
    width: 30%;
  }

  #rates {
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
  }

  #rates div {
    width: auto;
  }

  #form-data {
    width: 675px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    flex-direction: row;
  }
}