* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 230) !important;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  color: white;
}

#senha,
#email {
  width: 90%;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  width: 40%;
}

#login-button {
  padding: 10px 30px;
  border: none;
}

.trybewarts-header-logo {
  width: 70px;
  margin-left: 8px;
}

main {
  display: flex;
  margin: 40px 5% 0;
  justify-content: space-between;
}

hr {
  width: 100%;
}

/* Requisito 5 e 6 */
#evaluation-form {
  display: flex;
  width: 675px;
  flex-flow: column wrap;
}

#evaluation-form h1 {
  text-align: center;
  margin-bottom: 20px;
}


#name-section {
  display: flex;
  gap: 10px;
}

#name-section div {
  width: 100%;
}

#name-section div input {
  border: none;
  width: 100%;
}

#info-house {
  display: flex;
  gap: 10px;
}

#info-house div  {
  width: 50%;
  margin: 0 !important;
}

#info-house div input {
  border: none;
}

#info-house select {
  border: none;
  background-color: white;
}

.mid-container section div {
}

#family-section {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  margin: 16px 0;
  width: 40%;
}

#family-section label {
  margin: 5px 0;
}

/* alterações do fer abaixo */
#tech-section {
  width: 80%;
}

.mid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#techs {
  font-size: 1.2em;
  display: flex;
  flex-flow: row wrap ;
  justify-content: space-around;
}

.form-check {
  display: flex !important;
  align-items: center !important;
  padding: 10px!important;
  gap: 10px;
  min-width: 130px;
}

.form-check input {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
}

#section-rate {
  display: flex;
  justify-content: space-between;
}

#section-rate input {
  margin-left: 0.6rem;
}

#section-comments {
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
}

#avaliation section {
  margin-bottom: 1em;
}

#textarea {
  height: calc(10rem + 2px) !important;
}

#submit-btn {
  margin-bottom: 1em;
  width: 100%;
  border-radius: 4px;
  border: 0;
  padding: 0.4em;
  font-weight: 700;
}

#form-data {
  order: -1;
  width: 675px;
  padding: 20px;
}

#form-data p {
  padding: 10px 0;
}

/* alterações do fer acima */
#trybewarts-forms-logo {
  height: 500px;
}

footer {
  text-align: center;
  background-color: rgb(8, 9, 9);
  padding: 5px;
  color: white;
}

#counter {
  text-align: end;
  position: relative;
  top: -25px;
  right: 8px;
  color: rgb(153, 151, 151);
}

.error-container {
  display: none;
  border: 1.5px solid red;
  border-radius: 10px;
  padding: 10px;
}

.hidden-error {
  display: none;
}


.visible {
  display: block;
  color: rgb(143, 71, 71);
}

